<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Taker</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1 class="text-3xl font-bold mb-4 text-gray-800">Welcome to Note Taker</h1>
    <a href="/notes" class="text-blue-500">Go to Notes</a>
  </body>
</html>
