<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Note Taker</title>
    <link rel="stylesheet" href="/public/output.css" />
  </head>

  <body
    class="flex items-center justify-center h-screen bg-lightgoldenrodyellow"
  >
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-4">Welcome to Note Taker</h1>
      <a
        href="/notes"
        class="inline-block px-4 py-2 bg-black text-white font-semibold rounded"
        >Go to Notes</a
      >
    </div>
  </body>
</html>
